<section class="code-doc ">
    <a name="<%-anchorId%>"></a>
    <h3 class="code-ref"><%-kindString%>: <%=name.toLowerCase()%> = new <%-name%>()</h3>
    <%
      var comment = comment || null;
      if(comment){%>
        <div class="code-desc">
            <p><%-comment.shortText%>  </p>
        </div>
    <%}%>
</section>
<%   
    var children = children || null;
    var properties = [];
    if(children && children.length > 0){
        children.forEach(function(child){
            if(child.kindString === 'Property' && child.shouldDocument){
                properties.push(child);
            }
        })
        if(properties && properties.length > 0){
%>
            <%- include('properties', {'properties': properties}); %>
<% 
        }
        children.forEach(function(child){
            if(child.kindString === 'Constructor'){%>
                 <%- include('constructor', child); %>
            <%}
            if(child.kindString === 'Method' && child.shouldDocument){%>
                <%- include('function', child); %>
            <%}
        })
    }
%>
