<%
documentClass(node, 0);

function documentClass(node, lvl){ 
%>  <br/><br/> 
    <a id="<%-node.kindString%><%-node.name%>"><h3><%-node.kindString%> : <%-node.name%></h3></a> <br/>
    <!--console.log("%s %s : %s", "-".repeat(lvl), node.kindString, node.name);-->
<%    
    const children = node.children;
    if(children && children.length > 0){
        lvl++;
        children.forEach(function(child){
            if(child.kindString === 'Property'){
                documentProperty(child, lvl);
            }
            if(child.kindString === 'Constructor'){
                documentConstructor(child, lvl);
            }
            if(child.kindString === 'Method'){
                documentMethod(child, lvl);
            }
        })  
    }
}

function documentProperty(node, lvl){
%>   
    <span></span><span></span><%-node.kindString%>   <%-node.name%> Type: <%-node.type.name%> <br/>
    <!--console.log("%s %s: %s, Type: %s", "-".repeat(lvl), node.kindString, node.name, node.type.name);-->
<%
}

function documentConstructor(node, lvl){
%>  
    <h4><%-node.kindString%>:   <%-node.name%></h4> 
    <span></span>Signature: <i><%-node.signatures[0].name%></i>,   Returns: <%-node.signatures[0].type.name%> <br/>
    <!--console.log("%s %s: %s, Signature: %s, Returns: %s", "-".repeat(lvl), node.kindString, node.name, node.signatures[0].name, node.signatures[0].type.name);-->
<% 
    const parameters = node.signatures[0].parameters;
    if(parameters && parameters.length > 0){
        lvl++;
        parameters.forEach(function(param){
            documentParameter(param, lvl);
        });
    }
}

function documentMethod(node, lvl){
   documentConstructor(node, lvl);
}

function documentParameter(node, lvl){
    documentProperty(node, lvl);
}
%>

<style type="text/css">

span {
  display: inline-block;
  width: 50px;
}

</style>