<section class="code-doc ">
    <a name="<%-anchorId%>"></a>
    <h3 class="code-ref"><%-kindString%>: <%-name%></h3>
    <%
      var comment = comment || null;
      if(comment){%>
        <div class="code-desc">
            <p><%-comment.shortText%>  </p>
        </div>
    <%}%>
</section>
<%   
    const children = children;
    var properties = [];
    if(children && children.length > 0){
        children.forEach(function(child){
            if(child.kindString === 'Property'){
                properties.push(child);
            }
        })
        if(properties && properties.length > 0){
%>
            <%- include('properties', {'properties': properties}); %>
<% 
        }
        children.forEach(function(child){
            if(child.kindString === 'Constructor'){%>
                 <%- include('constructor', child); %>
            <%}
            if(child.kindString === 'Method'){%>
                <%- include('function', child); %>
            <%}
        })
    }
%>

<!--<section class="code-doc ">
    <a name="point-fromstring"></a>
    <h4 class="code-ref">Point.fromString(str)</h4>
    <div class="code-desc">
        <p>Convert a string containing two comma-separated numbers into a point.</p>
    </div>
    <div class="code-arguments-hdr">Arguments</div>
    <table class="params code-arguments">
        <tr>
            <th class="hdr-name">Name</th>
            <th class="hdr-type">Type</th>
            <th class="hdr-desc">Description</th>
        </tr>
        <tr class="code-arg">
            <td>
                <strong class="code-arg-name">str</strong>
            </td>
            <td class="code-arg-types">
                <code>string</code>
            </td>
            <td class="code-arg-desc">
                <p> The string containing two comma-separated numbers.</p>
            </td>
        </tr>
    </table>
</section>
<section class="code-doc ">
    <a name="point-prototype-getx"></a>
    <h4 class="code-ref">point.getX()</h4>
    <div class="code-desc">
        <p>Get the x value.</p>
    </div>
</section>
<section class="code-doc ">
    <a name="point-prototype-gety"></a>
    <h4 class="code-ref">point.getY()</h4>
    <div class="code-desc">
        <p>Get the y value.</p>
    </div>
</section>-->