<section class="code-doc ">
    <a name="<%-anchorId%>"></a>
<%
var type = signature.type;
%>
<h4 class="code-ref"><%-name%>(<%-tsHelpers.commaSepParams(signature.parameters)%>) : <%-tsHelpers.returnTypeStr(type)%></h4>
<%
var methodComment = signature.comment || null;
%>
    <%- include('comments', {'comment': methodComment}); %>
<%
    var parameters = signature.parameters;
    if (parameters && parameters.length > 0) {
%>
    <div class="code-arguments-hdr">Arguments</div>
    <table class="params code-arguments">
        <tr>
            <th class="hdr-name">Name</th>
            <th class="hdr-type">Type</th>
            <th class="hdr-desc">Description</th>
        </tr>
<%
        parameters.forEach(function(param) {
%>
            <tr class="code-arg">
                <td>
                    <strong class="code-arg-name"><%-param.name%></strong>
                </td>
                <td class="code-arg-types">
                    <%- include('type', param); %>
                </td>
                <td class="code-arg-desc">
                    <%- include('comments', param); %>
                </td>
            </tr>
<%
        });
%>
    </table>
<%
    }
%>
</section>
