<section class="code-doc <%= ann.isClass ? 'code-class' : '' %>">
  <a name="<%= ann.anchor %>"></a>
  <h<%= section.depth %> class="code-ref"><%= ann.header %></h<%= section.depth %>>
  <% if(ann.classDesc) { %>
    <h<%= section.depth + 1 %> class="code-class-desc"><%= ann.classDesc %></h<%= section.depth + 1 %>>
  <% } %>
    <% if(ann.moduleExample) { %>
    <h<%= section.depth + 1 %> class="code-module-example"><%= ann.moduleExample %></h<%= section.depth + 1 %>>
  <% } %>
  <div class="code-desc">
    <%- ann.html %>
  </div>
  <% if(Array.isArray(ann.args) && ann.args.length) { %>
    <div class="code-arguments-hdr">Arguments</div>
    <table class="params code-arguments">
      <tr>
        <th class="hdr-name">Name</th>
        <th class="hdr-type">Type</th>
        <th class="hdr-desc">Description</th>
      </tr>
      <%
      ann.args.forEach(function (arg) {
        renderArg(arg);
      })
      %>
    </table>
    <%

      ann.args.forEach(function (arg) {
        if(arg.type === 'options' && arg.properties.length) {
          %>
          <div class="code-arguments-hdr"><%= arg.name || 'Options' %></div>
          <table class="params code-arg-options">
            <tr>
              <th class="hdr-name">Name</th>
              <th class="hdr-type">Type</th>
              <th class="hdr-desc">Description</th>
            </tr>
          <%
          arg.properties.forEach(renderArg);
          %>
          </table>
          <%
        } else if(arg.type === 'callback' && arg.args.length) {
          %>
          <div class="code-arguments-hdr"><%= arg.name || 'Callback' %></div>           
          <table class="params code-callback-args">
          <tr>
            <th class="hdr-name">Name</th>
            <th class="hdr-type">Type</th>
            <th class="hdr-desc">Description</th>
          </tr>
          <%
          arg.args.forEach(renderArg);
          %>
          </table>
          <%
        }
      })

    %>

  <% } %>

  <% if(ann.attrs.returns) { %>
    <div class="code-arguments-hdr">Returns</div>
    <strong><%= ann.attrs.returns %></strong>
  <% } %>
  
  <% if(ann.attrs.example) {%> 
    <div class="code-arguments-hdr">Example</div>
    <div class="example">
      <%- md(ann.attrs.example) %>
    </div>
  <% } %>
</section>


<% function renderArg(arg) { %>
  <tr class="code-arg">
      <td>
        <strong class="code-arg-name"><%= arg.name %></strong>
      </td>
      <td class="code-arg-types">
        <code><%= arg.types.join(' or ') %></code>
      </td>
    <td class="code-arg-desc">
      <%- arg.description || '' %>
    </td>
  </tr>
<% } %>
