<section class="code-doc <%= ann.isClass ? 'code-class' : '' %>">
  <a name="<%= ann.anchor %>"></a>
  <h<%= section.depth %> class="code-ref"><%= ann.header %></h<%= section.depth %>>
  <% if(ann.classDesc) { %>
    <h<%= section.depth + 1 %> class="code-class-desc"><%= ann.classDesc %></h<%= section.depth + 1 %>>
  <% } %>
    <% if(ann.moduleExample) { %>
    <h<%= section.depth + 1 %> class="code-module-example"><%= ann.moduleExample %></h<%= section.depth + 1 %>>
  <% } %>
  <div class="code-desc">
    <%- ann.html %>
  </div>
  <% if(Array.isArray(ann.args) && ann.args.length) { %>
    <table class="code-arguments" border="1">
      <caption class="code-arguments-hdr">Arguments</caption>
      <tr><th>Name</th><th>Type</th><th>Description</th>     
      <%
      ann.args.forEach(function (arg) {
        renderArg(arg);
      })
      %>
    </table>
    <%

      ann.args.forEach(function (arg) {
        if(arg.type === 'options' && arg.properties.length) {
          %>
          <table class="code-arg-options" border="1">
          <caption class="code-arguments-hdr"><%= arg.name || 'Options' %></caption>
          <tr><th>Name</th><th>Type</th><th>Description</th>
          <%
          arg.properties.forEach(renderArg);
          %>
          </table>
          <%
        } else if(arg.type === 'callback' && arg.args.length) {
          %>
          <table class="code-callback-args" border="1">
          <caption class="code-arguments-hdr"><%= arg.name || 'Callback' %></caption>
          <tr><th>Name</th><th>Type</th><th>Description</th>
          <%
          arg.args.forEach(renderArg);
          %>
          </table>
          <%
        }
      })

    %>

  <% } %>


</section>

<% function renderArg(arg) { %>
  <tr class="code-arg">
    <td>
      <code class="code-arg-name"><%= arg.name %></code></td>
      <td class="code-arg-types">
        <%= arg.types.join(' or ') %>
      </td>
    <td class="code-arg-desc">
      <%- arg.description || '' %>
    </td>
  </tr>
<% } %>
