<section class="code-doc">
  <a name="<%= comment.anchor %>"></a>
  <h<%= section.depth %> class="code-ref"><%= comment.header %></h<%= section.depth %>>
  <div class="code-desc">
    <%- comment.html %>
  </div>
  <% if(Array.isArray(comment.args) && comment.args.length) { %>
    <div class="code-arguments">
      <strong class="code-arguments-hdr">Arguments</strong>
      <% comment.args.forEach(function (arg) { %>
        <div class="code-arg">
          <div>
            <strong class="code-arg-name"><%= arg.name %></strong>
            <span class="code-arg-types">
              <%= arg.types.join(' or ') %>
            </span>
          </div>
          <div class="code-arg-desc">
            <%= arg.description %>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>
</section>